*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3{
    color: #1d273b;
    font-weight: 300;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    /*transition: ease-in-out 0.5s;*/
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}
.nav .logo{
    height: 80px;
}
.nav .logo img{
    height: 100%;
    vertical-align: top;
}
.enlaces-header{
    font-weight: 300;
}
.nav .enlaces-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    /*transition: color 0.5 ease-in;*/
}
.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}
.logo1{
    padding-left: 750px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.wrap{
    box-sizing: border-box;
    max-width: 1800px;
    width: 90%;
    margin: auto;
    width: 1500px;
}
.wrap h1{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}
.wrap h1:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #c7c7c7;
    margin: 20px 0;
}
.store-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.category_list{
    display: flex;
    flex-direction: column;
    width: 18%;
}
.category_list .category_item{
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: red;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.category_list .ct_item-active{
    background: #2d3e50;
}
.products-list{
    width: 82%;
    display: flex;
    flex-wrap: wrap;
}
.products-list .product-item{
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;

    transition: all .4s;
}
.products-list .product-item img{
    width: 100%;
    max-width: 350px;
    height: 200px;
}
.products-list .product-item a{
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2d3e50;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
footer{
    width: 100%;
    background: #202020;
    color: white;
    
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h4{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
}
.colum2 h4{
    font-size: 22px;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row i{
    font-size: 35px;
}
.row i label{
    margin-top: 10px;
    font-size: 22px;
    margin-left: 10px;
    color: #c7c7c7;
}
.colum3{
    max-width: 400px;
}
.colum3 h4{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}
.row2 i{
    font-size: 35px;
}
.row2 label{
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;
}
.container-footer{
    width: 100%;
    background: #101010;
}
.footer{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}
.terminos a{
    text-decoration: none;
    color: #c7c7c7;
}

@media screen and (max-width:1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,
    .colum3{
        margin-top: 40px;
    }
    .products-list .product-item{
		width: 30.3%;
    }
    .wrap{
        max-width: 1100px;
        width: 100%;
    }
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}
    .nav .enlaces-header a{
        font-size: 16px;
    }
	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}
@media screen and (max-width:864px){
    .enlaces-header {
        position: fixed;
        background: #667db6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }
    .hamburguer{
        display: block;
    }
    .nav .enlaces-header a {
        color: #fff;
    }
    .nav .menudos{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(141.4% at 100% 0);
    }
}
@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}